body {
  background: #4457c3;
}

#headtext {
  color: #4457c3;
  font-size: 96px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}


#landingboxbackground {
  background-color: none;
}

.nucleusinfo {
  margin: 50px 0px 50px 0px;
}

.nucleusinfoquestion {
  font-size: 36px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: white;
}

.nucleusinfoanswer {
  background: #eaeaea;
  padding: 30px 0px 30px 0px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.nucleusinfoanswer p {
  padding: 0px 30px 0px 30px;
  border-style: solid;
  border-width: 0px 2px 0px 2px;
  border-color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
}


#github {
  margin: 50px 0px 0px 0px;
}

#linktogithub {
  font-size: 48px;
  text-align: center;
  text-decoration: none;
  color: white;
}
