body {
  background: #f0f0f0;
}

#number_map {
  font-size: 36px;
  color: #4457c3;
  text-align: center;
}

canvas {
  /* border: 1px solid #000000; */
  margin: 5px;
}

.nucleusinfo {
  color: white;
  background: #4457c3;
  padding: 30px 0px;
  margin: 0px 0px 40px 0px;;
  text-align: center;
  font-size: 36px;
 }

 .subtitles {
   color: white;
   background: #7144c3;
   padding: 20px 0px;
   margin: 20px 0px 20px 0px;;
   text-align: center;
   font-size: 24px;
 }

 .nucleusinfoanswer {
   background: #f0f0f0;
   padding: 30px 0px 30px 0px;
   font-family: 'Raleway', sans-serif;
   font-weight: 400;
 }

 .nucleusinfoanswer p {
   padding: 0px 30px 0px 30px;
   border-style: solid;
   border-width: 0px 2px 0px 2px;
   border-color: black;
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
 }

 .nucleusinfoquestion {
   font-size: 36px;
   text-align: center;
   font-family: 'Raleway', sans-serif;
   color: white;
 }
#box {
  width: 600px;
  height: 400px;
  border: 1px solid #4457c3;
}


#lingraph {
  text-align: center;
}

#github {
  margin: 50px 0px 0px 0px;
  background: #4457c3;
}

#linktogithub {
  font-size: 48px;
  text-align: center;
  text-decoration: none;
  color: white;
}
